/**
trang courese
*/
.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .glass-card {
            background: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(12px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

/**
trang courese-detail
*/
.material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .turquoise-primary { background-color: #008B8B; }
        .turquoise-text { color: #008B8B; }
        .turquoise-border { border-color: #008B8B; }

/**
trang support
*/
 .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .support-accent { color: #008080; } /* Turquoise requirement */
        .support-bg-accent { background-color: #008080; }
        .support-border-accent { border-color: #008080; }